<footer class="footer">
    <div class="containerfooter">
       <div class="photo1"><img src="/../img/logofooter.png" alt="wallpaper NWS" /></div>
       <div class="contact">
            <ul >
                <li><h3 class="titlefooter" style= color:#00a5a5>Nous retrouver</h3></li>
                <li style= color:#fec800 >Seine Innopolis</li>
                <li style= color:grey>72 rue de la République</li>
                <li style= color:grey>76140 Le Petit-Quevilly</li>
                
            </ul>
       </div>
       <div class="contact">
        <ul >
            <li><h3 class="titlefooter" style= color:#00a5a5>Nous contacter</h3></li>
            <li style= color:#fec800 >Par mail</li>
            <li style= color:grey>contact@normandiewebschool.fr</li>
            <li style= color:#fec800 >Par téléphone</li>
            <li style= color:grey>02 79 02 73 78</li>
            
            
            
        </ul>
   </div>
   <div class="contact">
    <ul >
        <li><h3  class="titlefooter" style= color:#00a5a5>Réseaux sociaux</h3></li>
        <div class="navbar-end">
            {{ range .Site.Menus.social }}
            <a href="{{ .URL }}" class="navbar-item is-hidden-touch" title="{{ .Name }}"><span
                    class="icon">{{ .Pre }}</span></a>
            {{ end }}
        </div>
    </ul>
</div>
       
    </div>
    <div class="footerline"></div>
    <div class="copyright">
        <p><span class="white">L'école vous intéresse-t-elle? </span><span class="red">prendre rendez vous pour un entretiens</span></p>
    </div>
        <div class="footerline"></div>
    </div>
    <div class="lastcontainerfooter">
       
        <div class="contact">
             <ul >
                 <li>Mentions légales</li>
                
                 
             </ul>
        </div>
        <div class="contact">
         <ul >
             <li>Contact</li>
             
             
             
         </ul>
    </div>
    <div class="contact">
     <ul >
         <li>Confidentialité</li>
         
     </ul>
 </div>
 
   <!--------<div class="copyright">© 2019 NORMANDIE WEB SCHOOL</div>-------->
</footer>