{{ define "main" }}
<div class="container">
    
    <div class="content">
        <p>les projets</p>
        <div class="containeretudiant">
          <div ><a class="etudiant-image" href=""><img class="imgpro" src="/imagesprojets/Application-Recyclon/participants/mariedermywd.png" alt="wallpaper NWS" /></a></div>
          <div class="contact">
               <ul class="etudiant-description">
                   <li><h3 class="titlefooter" style= color:white>Marie dermy</h3></li>
                   <li style= color:#00a5a5 >Actuellement étudiante en deuxième année à la Normandie Web School, je souhaite me spécialiser dans le design et plus particulièrement l'UX et l'UI design.</li>
                   
                   
               </ul>
          </div>
         
      </div>
      <div class="content2">
        <div class="sectionprojet">
        <p class="etudiant-projets">Participation de projet</p>
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="d-block w-10" src="../../img/social.png" alt="First slide">
                                </div>
                                <div class="col-sm-4">
                                    <img class="d-block w-10" src="../../img/work.png" alt="First slide">
                                </div>
                                <div class="col-sm-4">
                                    <img class="d-block w-10" src="../../img/abeille.png" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}