{{ define "main" }}

<div class="container">
    
    <div class="content">
        <p>les projets</p>
        <div class="containervedetteprojet">
          <div ><a class="projetimage" href="/projets/boutique-asgard"><img class="imgpro" src="/imagesprojets/Boutique-Asgard/images/asgard01.png" alt="wallpaper NWS" /></a></div>
          <div class="contact">
               <ul class="projetvedette">
                   <li><h3 class="titlefooter" style= color:white>Boutique d'Asgard</h3></li>
                   <li style= color:#00a5a5 >La taverne d’Asgard est un magasin de vente de jeux de sociétés et de figurines installé depuis plus de trois ans dans le centre de Rouen. Dans le cadre de nos études, le projet client que l’on nous a confié consistait à trouver une solution aux problèmes de vente et de visibilité du magasin.</li>
                   
                   <li><button class="buttonproject"><a href="/projets/boutique-asgard">En savoir plus</a></button></li>
                   
               </ul>
          </div>
         
      </div>
      
       <!---<ul style="display: inline-flex; justify-content: space-between;" >
          <li><img class="imgpro" src="/../img/imgprojetspage.png" alt="projet img" /></li>
          <li><p style="color: white;">Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit.</p></li>
          <li></li>
        </ul>
        <button><a href="#">En savoir plus</a></button>-->
    
        <nav class="navbarprojetpage" role="navigation">
          <div class="container">
              <div class="navbar-brand">
                  <a href="/" title="home" class="navbar-item">
                      <span class="logo"><!----<h1>{{ .Site.Title }}</h1>-----></span>
                  </a>
                  
                  <a role="button" class="navbar-burger" aria-label="menuprojet" aria-expanded="false">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                  </a>
              </div>
              <div class="navbar-menu">
                  <div class="navbar-start">
                      {{ range .Site.Menus.nav }}
                      <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
                      {{ end }}
                  </div>
                  
              </div>
          </div>
      </nav>
    <!----<div >
      <ul class="projetnavbar"> 
        <li>Tout</li>
        <li>En cours</li>
        <li>Les plus récents</li>
        <li>Les plus anciens</li>
        <li>Cette année</li>
        <li>Années préédentes</li>
      </ul>
    </di>
    --->
    <div class="sectionprojet">
      <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
              <div class="carousel">
                  <div class="item active">
                      <div class="row">
                           <div class="col-sm-4">
                                  <a class="projetimage" href="/projets/tatouage"><img class="d-block w-10" src="/imagesprojets/Application-Tatouage/images/applitatouage01.png" alt="First slide"></a>
                             </div>
                             <div class="col-sm-4">
                                  {{- block "My First Post" . }}{{- end }}
                                
                                  <a class="projetimage" href="/projets/startup-weekend-pont-audemer"><img class="d-block w-10" src="/imagesprojets/Start-up-Week-end-Pont-Audemer/images/startup01.jpg" alt="First slide"></a>
                             </div>
                               <div class="col-sm-4">
                                <a class="projetimage" href="/projets/site-projets-detudiants"><img class="d-block w-10" src="../../img/projets/NWE (Normandie Web Events)/nwe.png" alt="First slide"></a>
                                </div>
                             </div>
                        </div>
                      </div>
                  </div>
               </div>
           </div>
           <div class="sectionprojet">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel">
                        <div class="item active">
                            <div class="row">
                                 <div class="col-sm-4">
                                  <a class="projetimage" href="/projets/projet-landing-page"><img class="d-block w-10" src="/imagesprojets/Projet-Landing-Page/images/landing01.png" alt="First slide"></a>
                                   </div>
                                   <div class="col-sm-4">
                                        {{- block "My First Post" . }}{{- end }}
                                      
                                        <a class="projetimage" href="/projets/recyclex"><img class="d-block w-10" src="/imagesprojets/Recyclex-Application-de-Recyclage/images/recyclex01.jpg#firstimg" alt="First slide"></a>
                                   </div>
                                     <div class="col-sm-4">
                                      <a class="projetimage" href="/projets/projet-coca-mentos"><img class="d-block w-10" src="/imagesprojets/Coca-Mentos-Matcha/images/cmm01.png#firstimg" alt="First slide"></a>
                                      </div>
                                   </div>
                              </div>
                            </div>
                        </div>
                     </div>
                 </div>
                       <div class="sectionprojet">
                        <div id="myCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel">
                                    <div class="item active">
                                        <div class="row">
                                             <div class="col-sm-4">
                                              <a class="projetimage" href="/projets/lile-aux-abeilles"><img class="d-block w-10" src="/imagesprojets/L-ile-aux-abeilles/images/abeilles01.png" alt="First slide"></a>
                                               </div>
                                               <div class="col-sm-4">
                                                    {{- block "My First Post" . }}{{- end }}
                                                  
                                                    <a class="projetimage" href="/projets/les-reseaux-sociaux"><img class="d-block w-10" src="/imagesprojets/Les-Réseaux-Sociaux/images/lrs01.jpg" alt="First slide"></a>
                                               </div>
                                                 <div class="col-sm-4">
                                                  <a class="projetimage" href="/projets/journees-portes-ouvertes"><img class="d-block w-10" src="/imagesprojets/Journées-portes-ouvertes/images/jpo01.png" alt="First slide"></a>
                                                  </div>
                                               </div>
                                          </div>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                             <div class="sectionprojet">
                              <div id="myCarousel" class="carousel slide">
                                  <div class="carousel-inner">
                                      <div class="carousel">
                                          <div class="item active">
                                              <div class="row">
                                                   <div class="col-sm-4">
                                                    <a class="projetimage" href="/projets/ecoboat"><img class="d-block w-10" src="/imagesprojets/EcoBoat/images/eb01.png" alt="First slide"></a>
                                                     </div>
                                                     <div class="col-sm-4">
                                                          {{- block "My First Post" . }}{{- end }}
                                                        
                                                          <a class="projetimage" href="/projets/creation-identite-web"><img class="d-block w-10" src="/imagesprojets/Creation-Identité-Web/images/ciw02.png" alt="First slide"></a>
                                                     </div>
                                                       <div class="col-sm-4">
                                                        <a class="projetimage" href="/projets/citronnade-mimouna"><img class="d-block w-10" src="/imagesprojets/Citronnade-Mimouna/images/mimouna01.png" alt="First slide"></a>
                                                        </div>
                                                     </div>
                                                </div>
                                              </div>
                                          </div>
                                       </div>
                                   </div>
                                   <div class="sectionprojet">
                                    <div id="myCarousel" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel">
                                                <div class="item active">
                                                    <div class="row">
                                                         <div class="col-sm-4">
                                                          <a class="projetimage" href="/projets/bot-facebook"><img class="d-block w-10" src="/imagesprojets/Bot-Facebook-Messenger/images/bfmnws02.png" alt="First slide"></a>
                                                           </div>
                                                           <div class="col-sm-4">
                                                                {{- block "My First Post" . }}{{- end }}
                                                              
                                                                <a class="projetimage" href="/projets/aux-couleure-du-cheval"><img class="d-block w-10" src="/imagesprojets/Au-Coul_Eure-du-Cheval/images/couleure01.png" alt="First slide"></a>
                                                           </div>
                                                             <div class="col-sm-4">
                                                              <a class="projetimage" href="/projets/application-recyclon"><img class="d-block w-10" src="/imagesprojets/Application-Recyclon/images/recyclon01.png" alt="First slide"></a>

                                                              </div>
                                                           </div>
                                                      </div>
                                                    </div>
                                                </div>
                                             </div>
                                         </div>
                                         <div class="sectionprojet">
                                          <div id="myCarousel" class="carousel slide">
                                              <div class="carousel-inner">
                                                  <div class="carousel">
                                                      <div class="item active">
                                                          <div class="row">
                                                               <div class="col-sm-4">
                                                                <a class="projetimage" href="/projets/need-web-student"><img class="d-block w-10" src="/imagesprojets/Need-Web-Student/images/need01.jpg" alt="First slide"></a>
                                                                 </div>
                                                                 <div class="col-sm-4">
                                                                      <a class="projetimage" href="/projets/locabanane"><img class="d-block w-10" src="/imagesprojets/Loc-a-Banane/images/banane02.png" alt="First slide"></a>
                                                                 </div>
                                                                   <div class="col-sm-4">
                        
                                                                    <a class="projetimage" href="/projets/Livre-Dor"><img class="d-block w-10" src="/imagesprojets/Livre-d-Or/images/livreor01.png" alt="First slide"></a>
                         
                                                                  </div>
                                                                 </div>
                                                            </div>
                                                          </div>
                                                      </div>
                                                   </div>
                                               </div>
  </div>
  
</div>
 

 <!------------------------------------------------------------------------------------------------------->

     
{{ end }}