{{define "main"}}

<!--<section class="section2">
    <div class="container max-800px">
       
   
        <div class="content2">
            <div class="post-head">
                
             <p>{{.Title}}</p>
              <title> {{.Site.Title}} </title>
              <p>{{.}}</p>
              {{ range .Site.Pages }}
                {{ range .Pages }}
                    <h2>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </h2>
                   
                    <p>
                        
                    {{ . }}
                    </p>
                    <hr>
                {{ end }}
                {{ else }}
                <p>aucun élément trouvé</p>
                {{ end }}
            {{ .Content }}--->
        </div>
    </div>
</section>



<section class="section2">
    <div class="container max-500px">
       
   
        <div class="content2">
            <div class="post-head">
                
              
                <main>
                    <div>
                        

                        
                        {{ .Content}}
                          <ul>
                          
                         
                         
                          </ul>
                    </div>
                  </main>
        </div>
    </div>
</section>

{{end}}